@import './tokens';
@import './features/shell/shell';
@import './common';

html {
	box-sizing: border-box;
	color-scheme: light dark;
	scrollbar-gutter: stable;
	scroll-padding-top: 2rem;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: var(--color-gray-0);
}
