@use '../lib/styles/document' as *;
@use '../styles/vars' as *;
@use '../styles/global' as *;
@use '../lib/shoelace/vars' as *;
@use '../lib/breakpoints/use-breakpoints' as *;
@import '../styles/scrollbars';

html.layout-blog,
html.layout-default,
html.layout-bare {
  body {
    margin: 0;
    overflow-y: scroll;
    font-family: $font-main;
    font-size: calc(0.75em + 0.13vw + 0.13vh);
    line-height: $line-height-normal;
    color: $color-neutral-900;
    background-color: $color-neutral-50;

    @include font-smoothing;
    @include hide-touch-tap;
  }

  @include fix-border-box;

  scroll-padding-top: $spacing-4x-large;

  @include breakpoint(lg) {
    scroll-behavior: initial;
  }

  @include breakpoint(xl) {
    scroll-padding-top: $spacing-x-large;
  }
}

:root {
  --sl-color-primary-50: var(--sl-color-emerald-50);
  --sl-color-primary-100: var(--sl-color-emerald-100);
  --sl-color-primary-200: var(--sl-color-emerald-200);
  --sl-color-primary-300: var(--sl-color-emerald-300);
  --sl-color-primary-400: var(--sl-color-emerald-400);
  --sl-color-primary-500: var(--sl-color-emerald-500);
  --sl-color-primary-600: var(--sl-color-emerald-600);
  --sl-color-primary-700: var(--sl-color-emerald-700);
  --sl-color-primary-800: var(--sl-color-emerald-800);
  --sl-color-primary-900: var(--sl-color-emerald-900);
  --sl-color-primary-950: var(--sl-color-emerald-950);
}
