/* stylelint-disable selector-class-pattern */
:host {
	box-sizing: border-box;
	display: contents;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
}

sl-dialog {
	&::part(panel) {
		max-width: 1200px;
		height: 100%;
		max-height: 85dvh;
		margin: 0 2vw;

		--width: 80dvw;
	}

	&::part(header) {
		text-align: center;
	}

	&::part(body) {
		padding-top: 0;
	}

	&::part(title) {
		font-size: var(--sl-font-size-small);
		text-align: center;
	}
}

.pagefind-ui__result-thumb {
	display: none;
}

.pagefind-ui__result {
	/* padding: var(--sl-spacing-x-small); */
	margin: var(--sl-spacing-x-small) 0;
	border-bottom: 1px solid var(--sl-color-neutral-100);
}

ol {
	margin: 0;
}

mark {
	color: var(--sl-color-neutral-1000);

	@media (prefers-color-scheme: light) {
		background: var(--sl-color-primary-500);
	}

	[data-color-mode='light'] &,
	[data-color-mode='light']& {
		background: var(--sl-color-primary-500);
	}

	@media (prefers-color-scheme: dark) {
		background: var(--sl-color-primary-100);
	}

	[data-color-mode='dark'] &,
	[data-color-mode='dark']& {
		background: var(--sl-color-primary-100);
	}
}

/* NOTE: disabled for now */
.pagefind-ui__search-clear {
	display: none;
}

.pagefind-ui__results {
	padding: 0 calc(1rem + 1vw);
}

.pagefind-ui__drawer {
	width: 100%;
	height: calc(85dvh - 11rem);

	/* min-height: 15rem; */
	padding: var(--sl-spacing-large);
	padding-top: 0;
	margin-top: var(--sl-spacing-medium);
	overflow-y: auto;
	text-align: initial;
	scrollbar-gutter: stable;
	border: 1px solid var(--sl-color-neutral-200);
	border-radius: var(--sl-border-radius-large);
}

[slot='label'] {
	display: flex;
	gap: var(--sl-spacing-2x-large);
	align-items: center;
	justify-content: center;
}

.logo {
	display: flex;
	align-items: center;
	padding-top: var(--sl-spacing-small);

	svg {
		width: 17rem;
		height: 2rem;
		fill: var(--sl-color-neutral-1000);
	}
}

button {
	all: unset;
	display: inline-flex;
	gap: var(--sl-spacing-medium);
	align-items: center;
	padding: var(--sl-spacing-x-small) var(--sl-spacing-small);
	margin: var(--sl-spacing-x-small);
	color: var(--sl-color-neutral-800);
	cursor: pointer;
	background: var(--sl-color-gray-100);
	border: 1px solid var(--sl-color-neutral-300);
	border-radius: var(--sl-border-radius-small);

	&:hover {
		background: var(--sl-color-gray-200);
		border: 1px solid var(--sl-color-neutral-400);
	}
}

.pagefind-ui__form {
	display: flex;
	flex-wrap: wrap;
}

.pagefind-ui__search-input {
	flex-grow: 1;
	padding: 1em;
	margin-top: 3px;
	font-size: 16px;
	background-color: var(--sl-input-background-color);
	border: 1px solid var(--sl-input-border-color);
	border-radius: var(--sl-input-border-radius-large);

	&:focus {
		outline: 2px solid var(--sl-input-focus-ring-color);
	}
}

.pagefind-ui__results-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& .pagefind-ui__results {
		width: 100%;
	}
}
